.mainBody {
    background-color: black;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainP {
    text-align: center;
    width: 90%;
    font-size: 12vmin;
    font-family: 'Sen',
    sans-serif;
    color: white;
    text-shadow: 0 0 2vmax black;
}

.mainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mainLink {
    text-decoration: none;
    color: white;
}

.vk,
.telegram,
.instagram {
    filter: invert(100);
    margin-top: 15%;
    width: 12vmin;
    height: 12vmin;
}

.gold {
    margin-top: 15%;
    width: 12vmin;
    height: 12vmin;
}